<!DOCTYPE html>
<html>
<body>

<h1>ADMIN LOGIN</h1>

<p>Enter the details of the book to be added to the library:</p>

<form action="/handle_add_book" method="POST">
  <label for="book_name">BOOK NAME:</label><br>
  <input type="text" id="book_name" name="book_name" ><br>
  <label for="author">NAME OF THE AUTHOR:</label><br>
  <input type="text" id="author" name="author" ><br>
  <label for="summary">SUMMARY OF THE BOOK:</label><br>
  <input type="text" id="summary" name="summary" ><br>
  <label for="genre">GENRE OF THE BOOK:</label><br>
  <input type="text" id="genre" name="genre" ><br>
  <label for="book_url">LOCATION OF THE BOOK:</label><br>
  <input type="text" id="book_url" name="book_url" ><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>