<!DOCTYPE html>
<html>
<head>
<title>{{books['book_name']}}</title>
</head>
<body>

<h1>{{books['chapter_no']}}</h1>
{% if books['chapter_no'] !=0 %}
<a href="/handle_read/{{books['book_id']}}/{{books['chapter_no']-1}}"><button type="button">PREVIOUS CHAPTER</button></a>
{% end if %}
{% if books['chapter_no'] != books['max_chapters'] %}
<a href="/handle_read/{{books['book_id']}}/{{books['chapter_no']+1}}"><button type="button">NEXT CHAPTER</button></a>
{% end if %}
<p>{{books['content']}}</p>
{% if books['chapter_no'] !=0 %}
<a href="/handle_read/{{books['book_id']}}/{{books['chapter_no']-1}}"><button type="button">PREVIOUS CHAPTER</button></a>
{% end if %}
{% if books['chapter_no'] != books['max_chapters'] %}
<a href="/handle_read/{{books['book_id']}}/{{books['chapter_no']+1}}"><button type="button">NEXT CHAPTER</button></a>
{% end if %}   

</body>
</html>