<!DOCTYPE html>
<html>
<body>

<h1>REGISTRATION</h1>

<p>Enter the following details:</p>

<form action="/handle_registration" method="POST">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name" ><br>
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email" ><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password" ><br>
  <label for="contact_number">Contact_number:</label><br>
  <input type="number" id="contact_number" name="contact_number" ><br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>
